* { margin: 0; padding: 0; }

@font-face {
	font-family: din-regular;
	src: url(../fonts/DIN-Regular.ttf);
}
@font-face {
	font-family: din-bold;
	src: url(../fonts/DIN-Bold.ttf)
}

.text-light { color: #ffffff; }
.text-red { color: #af1d30; }
.text-grey { color: #848484; }
.text-brown { color: #7e1a31; }

.font-weight-bold{
	font-family: din-bold;
}

.container { max-width: 1130px; }
.nav-link{
	padding-left: 0px;
	padding-right: 0px;
}
.form-control:focus{
	color: #848484;
	box-shadow: none;
	border-color: #848484;
}
::-webkit-input-placeholder { color:#848484 !important; font-family: din-bold; font-size: 14px; text-transform: uppercase; text-transform: uppercase; }
::-moz-placeholder { color:#848484 !important; font-family: din-bold; font-size: 14px; text-transform: uppercase; } /* firefox 19+ */
:-ms-input-placeholder { color:#848484 !important; font-family: din-bold; font-size: 14px; text-transform: uppercase; } /* ie */
input:-moz-placeholder { color:#848484 !important; font-family: din-bold; font-size: 14px; text-transform: uppercase; }


#brisbane-header .menu-top{
	background: #af1d30;
}
#brisbane-header .menu-top .title span{
	color: #eebec7;
}
#brisbane-header .menu-top .account .login:after{
	content: '/';
	font-family: din-bold;
	padding-left: 5px;
	padding-right: 5px;
}
#brisbane-header .menu-top .shopping-cart .amount:before{
	content: '(';
}
#brisbane-header .menu-top .shopping-cart .amount:after{
	content: ')';
}
#brisbane-header .menu-top .shopping-cart .icon-cart{
	padding-left: 20px;
	padding-right: 10px;
}

#brisbane-header .menu-bottom{
	padding-top: 65px;
	padding-bottom: 75px;
}
#brisbane-header .menu-bottom .logo img.w-100{
	max-width: 325px;
}
#brisbane-header .menu-bottom .search{
	position: relative;

}
#brisbane-header .menu-bottom .search input{
	border-style: none;
	border-bottom-style: inset;
}
#brisbane-header .menu-bottom .search .form-control{
	border-radius: 0;
	max-width: 305px;
	position: absolute;
	bottom: 0px;
	right: 15px;
	padding-bottom: 18px;
	padding-left: 15px;
}
#brisbane-header .menu-bottom .search .icon-search{
	position: absolute;
	top: 0px;
	right: 15px;
	font-size: 24px;
	cursor: pointer;
}